gpu_access(system_app)

# Allow system_app to access USB serial devices (ttyUSB*).
allow system_app usb_serial_device:chr_file { read write open ioctl getattr };
